<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/31-08-2023/src/com/xworkz/chandrayan/boot/JacketRunner.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.xworkz.chandrayan.boot.JacketRunner"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="31-08-2023"/>
</launchConfiguration>
